#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
color:#222222}

body {
  background-color: #222222;
}
.game-wrapper {
  margin: 0 auto;
  max-width: 500px;
  height: fit-content;
  padding: 25px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btns-idiom-selectors {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.flag {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  filter: opacity(0.4);
}
.flag:hover {
  filter: drop-shadow(0 0 0.75rem rgb(136, 189, 216));
}
.-title-img-dice{
 margin: -40px 0 10px 0;
 filter: drop-shadow(6px 6px 2px #968a8a);
 width: 70px;
 animation: delayShow ease-in-out 2s;
}
@keyframes delayShow {
  from {opacity: 0}
  to {opacity:1}
}
.title {
  text-decoration:  overline;
  font-family: 'Gajraj One', cursive;
  font-size: 5rem;
  filter: drop-shadow(3px 3px 1px #968a8a);
}
.subTitle{
  text-align: justify;
  padding:0 20px;
  
}
.total-numbers-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 40px;
}
.--die-each-number-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(2px 3px 3px #757373);
  cursor: pointer;
}
@media (width < 500px) {
  .--die-each-number-wrapper {
    width: 30px;
    height: 30px;
  }
}

@media (width <= 300px) {
  .game-wrapper {
    height: 90vh;
    padding: 15px;
  }
  .total-numbers-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .dar-de-nuevo-btn {
    background-color: rgba(80, 32, 255, 0.976);
    color: azure;
  }
  .dar-de-nuevo-btn:hover {
    border: 2px solid #222222;
    background-color: rgba(80, 32, 255, 0.5);
  }
  .dar-de-nuevo-btn:active {
    background-color: rgba(80, 32, 255, 0);
  }
  .sub-titulo {
    padding: 0px 50px;
  }
  @media (width<200px) {
    h1 {
      font-size: 0.5rem;
    }
  }
}
.--die-die1,
.--die-die2,
.--die-die3,
.--die-die4,
.--die-die5,
.--die-die6 {
  font-size: 5rem;
}

.--counter-wrapper-first-line{
  display: flex;
  justify-content: space-around;
}

.--counter-wrapper-total{
  width:100%;
  background-color: #757373;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10px;
}
.--counter-total-points{
  display: block;
  background-color: #222222;
  border-radius:  0 0 15px 15px;
  height: 60px;
  color: azure;
}
.btn-play-again{
  color: azure;
}
.red{
  background-color: red;
}